@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-blue: #94eaff;
  --color-light-100: #e7f2ff;
  --color-light-200: #bddbdd;

  --color-border-dark: #151024;
  --color-dark-100: #182830;

  --radius: 0.625rem;

  --background: #030708;
  --foreground: #ffffff;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: #590eca;
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.515 0 0);

  --accent: oklch(0.97 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--color-blue);
  --color-light-100: var(--color-light-100);
  --color-light-200: var(--color-light-200);
  --color-border-dark: var(--color-border-dark);
  --color-dark-100: var(--color-dark-100);
  --color-dark-200: var(--color-dark-200);

  --font-schibsted-grotesk: var(--font-schibsted-grotesk);
  --font-martian-mono: var(--font-martian-mono);

  --sidebar-ring: var(--sidebar-ring);
}

body {
  color: var(--color-foreground);
  font-family: var(--font-schibsted-grotesk);
  scroll-behavior: smooth;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  main {
    @apply mx-auto flex max-w-[1440px] flex-col items-center justify-center pt-20;
  }
  h1 {
    @apply text-gradient text-6xl font-semibold max-sm:text-4xl;
  }
  h2 {
    @apply font-schibsted-grotesk text-2xl font-bold;
  }
  p {
    @apply text-light-100 text-lg max-sm:text-sm;
  }
  nav {
    @apply glass sticky top-0 z-50 flex flex-row justify-between px-12 py-4;
  }
  input {
    @apply bg-dark-200 rounded-[6px] px-5 py-2.5;
  }
}

@layer components {
  .hero-section {
    @apply flex w-full max-w-[646px] flex-col items-center gap-3 text-center max-sm:px-2;
  }
  .events-section {
    @apply flex max-w-[1280px] flex-col gap-6 py-40 max-sm:px-6 w-full;
  }
  .events-cards {
    @apply flex flex-wrap items-start gap-x-6 gap-y-14;
  }
  .explore-button {
    @apply border-dark-200 bg-dark-100 mt-10 p-4 flex w-fit cursor-pointer flex-row items-center justify-center gap-2 rounded-full;
  }
  .event-card {
    @apply flex flex-col gap-3;
    .title {
      @apply text-[20px] font-semibold leading-tight;
    }
    p {
      @apply text-sm;
    }
  }
  .card-content {
    @apply flex flex-row gap-2 items-center;
  }
}

@layer utilities {
  .glass {
    @apply bg-[#12121280]/50 rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl border-b border-border-dark;
  }
  .card-shadow {
    box-shadow: 0px 4px 40px 0px #00000066;
  }
}

@utility text-gradient {
  @apply to-blue bg-gradient-to-b from-white via-white bg-clip-text font-semibold text-transparent;
}

@utility glass {
  @apply bg-[#12121280]/50 rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl border-b border-border-dark;
}
